<!DOCTYPE html>
<html>
<head>
    <title>Link Shortener</title>
</head>


<body>

<h1>Link Shortener</h1>

<form method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Generate link' />
</form>
{% if short_url|length > 0 %}
<div>
    <p>Generated URL:</p>
    <p>{{ short_url }}</p>
</div>
{% elif shortening_error|length > 0 %}
<div>
    <p>{{ shortening_error }}</p>
</div>
{% endif %}
<table>
    <tr>
        <th colspan="3">Your shortened links</th>
    </tr>
    <tr>
        <th>URL</th>
        <th>Shortened URL</th>
        <th>Creation date</th>
    </tr>
  {% for row in current_user_data %}
    <tr>
        <th> {{ row.url_input }}</th>
        <th> <a href="{{ base_url }}{{ row.url_output }}">{{ base_url }}{{ row.url_output }}</a> </th>
        <th> {{ row.creation_date }}</th>
        <th> <a href="">delete</a></th>
    </tr>
  {% endfor %}
</table>

</body>

</html>