<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Link Shortener</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>


<h1 class="text-center logo">Link Shortener</h1>
<div class="m-auto">
    <form method='POST' class="form-group text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' class="btn btn-primary button-generate-link" value='Generate link'/>
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
           aria-controls="collapseExample">
            My links
        </a>
    </form>
    {% if short_url|length > 0 %}
    <div>
        <p class="text-center">Generated URL:</p>
        <p class="text-center">{{ short_url }}</p>
    </div>
    {% elif shortening_error|length > 0 %}
    <div class="text-center">
        <p>{{ shortening_error }}</p>
    </div>
    {% endif %}

    <div class="collapse" id="collapseExample">
        <div class="well table-overflowx-scrolbar">
            <div class="table-my-links">

                <table>
                    <tr class="">
                        <th class="table-col-descriptions">Link</th>
                        <th class="table-col-descriptions">Short link</th>
                        <th class="table-col-descriptions">Created</th>
                        <th class="table-col-descriptions"></th>
                    </tr>


                    {% for row in current_user_data %}
                    <tr>
                        <th class="text-nowrap table-field-overflow-left"> {{ row.url_input }}</th>
                        <th class="text-nowrap table-field-overflow-left"><a href="{{ base_url }}{{ row.url_output }}">
                            {{ base_url }}{{ row.url_output }}</a></th>
                        <th class="text-nowrap table-field-overflow-left"> {{ row.creation_date|date:"G:i d.m.Y" }}</th>
                        <th class="text-nowrap table-field-overflow-left">
                            <form class="text-center" action="{% url 'redirect' row.url_output %}" method="POST">
                                {% csrf_token %}
                                <input class="trash-icon" type="submit" value=""/>
                            </form>
                        </th>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>