<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Link Shortener</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>


<h1 class="text-center logo">Link Shortener</h1>
<div class="m-auto">
    <form method='POST' class="form-group text-center">
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' class="btn btn-primary button-generate-link" value='Generate link'/>
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
           aria-controls="collapseExample">
            My links
        </a>
    </form>
    {% if short_url|length > 0 %}
    <div>
        <p class="text-center">Generated URL:</p>
        <p class="text-center">{{ short_url }}</p>
    </div>
    {% elif shortening_error|length > 0 %}
    <div class="text-center">
        <p>{{ shortening_error }}</p>
    </div>
    {% endif %}

    <div class="collapse" id="collapseExample">
        <div class="well table-overflowx-scrollbar mobile-friendly-width">
            <div class="table-my-links">
                {% if current_user_data|length < 1%}
                    <p class="didnt-find-links"> We couldn't find any url's linked to you</p>
                {% else %}
                <table class="mobile-friendly-width">
                    <tr>
                        <th class="table-col-descriptions table-field-side-margin">Link</th>
                        <th class="table-col-descriptions table-field-side-margin">Short link</th>
                        <th class="table-col-descriptions table-field-side-margin">Created</th>
                        <th class="table-field-side-margin"></th>
                    </tr>


                    {% for row in current_user_data %}
                    <tr class="">
                        <th class="text-nowrap table-field-overflow-left table-field-side-margin"> {{ row.url_input }}</th>
                        <th class="text-nowrap table-field-overflow-left table-field-side-margin"><a href="{{ base_url }}{{ row.url_output }}">
                            {{ base_url }}{{ row.url_output }}</a></th>
                        <th class="text-nowrap table-field-overflow-left table-field-side-margin"> {{ row.creation_date|date:"G:i d.m.Y" }}</th>
                        <th class="text-nowrap table-field-side-margin">
                            <form class="text-center" action="{% url 'redirect' row.url_output %}" method="POST">
                                {% csrf_token %}
                                <input class="trash-icon" type="submit" value=""/>
                            </form>
                        </th>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="grid-container">
        <div class="grid-item">Website created by deelite34</div>
        <div class="grid-item">
            <a href="https://github.com/Deelite34"><div class="github-icon"></div></a>
        </div>
    </div>
</footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>